#!/usr/bin/env python3
# -*- coding: utf-8 -*-

# Standard Library
from pathlib import Path

DATA_PATH = Path("../data/CORD-19-research-challenge")
JSONS = DATA_PATH.glob("**/*/*.json")

IDX_FULL = "cordf"
IDX_DETAIL = "cord"
IDX_FT = "cordft"
IDXS = (IDX_FULL, IDX_DETAIL, IDX_FT)

RETURN_SIZE = 100
MAX_RETURN_SIZE = 10000

DEFAULT_STR = ""
DEFAULT_QUERY = "covid-19"
